<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>js-anti-framework demo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css" />
	<link rel="stylesheet" href="/dist/css/main.css">
</head>
<body>
	<div class="example-component"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.0/bluebird.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
	<script src="/dist/js/main.js"></script>
	<script type="text/html" id="tmpl-example-component-users">
		<h1>Users</h1>
		<ul class="users">
			<% _.forEach(users, function(user) { %>
			<li>
				<h2><%= user.name %></h2>
				<p><%= user.company.name %>, <%= user.email %></p>
			</li> 
			<% }); %> 
		</ul>
	</script>
</body>
</html>